body {
	background-color: #F7EB9C;
}

header {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 5%;
	width: 100%;
	background-color: #C92E2E;
	float: left;
}

footer {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 5%;
	width: 100%;
	background-color: #C92E2E;
	float: left;
}

.content {
    padding: 15px;
	display: block;
	position: absolute;
	top: 5%;
	float: left;
	width: 100%;
}

.colorBlock {
    height: 15px;
    width: 15px;
    display: inline-block;
}
